# Virtual Environments
gesture_env/
venv_linux/
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Mediapipe/Models
# hand_landmarker.task # Keeping this might be necessary for the repo to work, but it's large

# UI/OS
.vscode/
.DS_Store
*.swp
*.log
